/* ======== ESTILO GENERAL ======== */
body {
    background-color: #0a0a0a;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* ======== NAVBAR ======== */
header {
    background-color: #111;
    border-bottom: 2px solid #8000ff;
    padding: 10px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

/* ======== MENÚ ======== */
.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.menu li a {
    color: #b64dff;
    text-decoration: none;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.menu li a:hover,
.menu li a.activo {
    background-color: #b64dff;
    color: #fff;
}

/* ======== CONTENIDO PRINCIPAL ======== */
main {
    text-align: center;
    padding: 40px 20px;
}

h2 {
    color: #c000ff;
    font-size: 2em;
    margin-bottom: 10px;
}

.descripcion {
    margin-bottom: 30px;
}

/* ======== FORMULARIO ======== */
.formulario {
    margin: 0 auto;
    background-color: #111;
    border: 2px solid #8000ff;
    border-radius: 12px;
    padding: 30px;
    max-width: 450px;
}

.formulario h3 {
    color: #b64dff;
    margin-bottom: 20px;
}

.formulario form input,
.formulario form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.formulario form input {
    background-color: #222;
    color: #fff;
}

.formulario form button {
    background-color: #b64dff;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.formulario form button:hover {
    background-color: #8000ff;
}

/* ======== TARJETAS ======== */
#listaEjercicios {
    margin-top: 40px;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tarjeta {
    background-color: #1a1a1a;
    border-radius: 12px;
    box-shadow: 0 0 10px #8000ff;
    width: 200px;
    padding: 15px;
}

.tarjeta img {
    width: 100%;
    border-radius: 10px;
}

/* ======== FOOTER ======== */
footer {
    border-top: 2px solid #8000ff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
